<ion-content>
      <ion-img src="assets/images/header1.png" ></ion-img>
    <div class="signin">
      <ion-item>
        <ion-icon name="home">
        </ion-icon>
        <ion-input type="text" name="usuario" placeholder=" Usuário">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline">
        </ion-icon>
        <ion-input type="password" name="password" placeholder=" *********">
        </ion-input>
      </ion-item>
      <ion-button shape="block" color="dark" class="ion-no-padding">
        Registrar
      </ion-button>
      <a routerLink="/login"> Ir para Login?</a>
    </div>
</ion-content>