ion-content {
    --ion-background-color: #E1EAF9 !important;
}
ion-toolbar {
    --ion-background-color: transparent;
    opacity: 0;
}
ion-header {
    position: absolute;
}

.signin {
    margin-top: 30px;
    text-align: center;
}

.button {
    --ion-color-primary: #215AB7;
}
ion-item {
    ion-input {
        color: red;
    }
}

ion-card {
    box-shadow: none !important;
    background-color: transparent;
}
