ion-content {
    --ion-background-color: #E1EAF9 !important;
}

ion-header {
    position: absolute;
}

.signin {
    margin-top: 30px;
    text-align: center;
}

.button {
    --ion-color-primary: #215AB7;
}
ion-item {
    ion-input {
        color: red;
    }
}