<ion-header class="ios-no-border">
  <ion-toolbar>
    <!-- <ion-title>Application</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-img src="assets/images/header1.png"></ion-img>
  </ion-card>




  <ion-card-content>

    <div class="signin">

      <ion-item>
        <ion-icon name="home">

        </ion-icon>
        <ion-input type="text" name="usuario" placeholder=" Usuário">
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-icon name="lock-closed-outline">
        </ion-icon>
        <ion-input type="password" name="password" placeholder=" *********">
        </ion-input>
      </ion-item>


      <ion-button (click)="irHome()" fill="solid" shape="round" color="dark" class="ion-no-padding">
        Entrar
      </ion-button>
    </div>

  </ion-card-content>



</ion-content>