<ion-content>
    <div class="bg">
      <ion-img src="assets/images/header1.png"></ion-img>
    </div>
 

    <div class="signin">

      <ion-item>
        <ion-icon name="home">

        </ion-icon>
        <ion-input type="email" name="usuario" 
        placeholder="seuemail@email.com.br" [(ngModel)]="email"
        >
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-icon name="lock-closed-outline">
        </ion-icon>
        <ion-input type="password" name="password" [(ngModel)]="senha"
        placeholder=" *********">
        </ion-input>
      </ion-item>


      <ion-button shape="block"
       color="dark"(click)="login()" 
       class="ion-no-padding">
        Entrar       
      </ion-button>
      
      <ion-button (click)="registrar()"
      shape="block" color="dark"
      class="ion-no-padding">
        Registrar
      </ion-button>
      <a href="#">Esqueceu a sua senha ?</a>
    </div>

 


</ion-content>